<!doctype html>
<html>
<head lang="en">
  <title>Sidechannel - View</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link href="{{ url_for('static', filename='view.css') }}" rel="stylesheet" type="text/css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    $(function() {
       $("#stage2").hide();

       $("#search_button").click(function(e) {
         $.ajax({
           dataType: "json",
           url: 'search',
           data: {search: encodeURIComponent($("#search_bar")[0].value)},
           timeout: 10000,
           success: function (data) {
             console.log(data);
             build_tiles(data['urls']);
           }
         });
         e.preventDefault();
       });
     });

     build_tiles = function(image_urls) {
       for (i = 0; i < 9; i += 1) {
         if (i % 3 == 0) {
           html_string = ["<div class='row nogutter' id='row", Math.floor(i/3), "'></div>"].join("");
           console.log("image_holder html is" + html_string);
           $("#imageholder").append(html_string);
         }
         child_html = ["<div class='col-xs-4 imagetile nogutter' id='col", i%3, "'></div>"].join("");
         console.log("child_html is: " + child_html);
         $("#row"+Math.floor(i/3)).append(child_html);
         $("#row"+Math.floor(i/3)+" #col"+(i%3)).css("background", "url(" + image_urls[i] + ")");
         $("#row"+Math.floor(i/3)+" #col"+(i%3)).css("background-repeat", "no-repeat");
         $("#row"+Math.floor(i/3)+" #col"+(i%3)).css("background-size", "100%");
         $("#row"+Math.floor(i/3)+" #col"+(i%3)).css("background-position", "center center");
         $(".imagetile").click(function(e){
           $("#image_url").attr('value', e.target.style.background.split(" ")[0]);
           $("#backgroundholder").css('background', e.target.style.background.split(" ")[0]);
           $("#backgroundholder").css('background-repeat', 'no-repeat');
           $("#backgroundholder").css('background-size', '100%');
           $("#backgroundholder").css('background-position', 'center center');
           $("#stage1").hide();
           $("#stage2").show();
         });
       }
     }
  </script>
</head>
<body>
  <div id="stage1" class="container" style="width: 970px !important;">
    <div class="col-xs-12 fullheight nogutter">
      <div class="col-xs-12 nogutter">
        <form role="form" class="form-inline">
          <input type="text" autofocus="autofocus" class="form-control" name="search" id="search_bar" placeholder="Search for a good background image!" style="width: 90%;">
          <button type="submit" id="search_button" class="btn btn-default" style="width: 9%;">Search!</button>
        </form>
      </div>
      <div id="imageholder" class="nogutter">
      </div>
    </div>
  </div>
  <div id="stage2" class="container" style="width: 970px !important;">
    <div class="col-xs-12 fullheight" id="backgroundholder" style="padding: 0;">
      <div class="col-xs-1 fullheight" style="padding: 0;">
        <a href="{{ url_for('make_get') }}" class="fullheight" style="display: block;"></a>
      </div>
      <div class="col-xs-10 fullheight">
        <form role="form" action="make" method="POST" class="fullheight">
          <div style="position: relative; height: 50%; width: 100%; padding: 0;">
            <input type="text" name="top" id="top" class="centered text top" placeholder="Enter top text." style="border: 1px dashed gray;">
          </div>
          <div style="position: relative; height: 50%; width: 100%; padding: 0;">
            <input type="text" name="bottom" id="bottom" class="centered text bottom" placeholder="Enter bottom text." style="border: 1px dashed gray">
          </div>
          <input type="text" style="display:none" name="image_url" id="image_url">
          <button type="submit" style="display: none;"></button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
